div.recomendContainer {
  display: inline-flex;
  flex-direction: row;
  width: 100%
}

button.recomendButton {
  padding: 0.25em;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  justify-self: center;
  
}

img.recomendButton {
  width: 1em;
  margin: 0;
}

div.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}