div.artistContainer {
  display: inline-flex;
  flex-direction: row;
}

div.artistName {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.artistName {
  font-size: 1vw;
  font-weight: bold;
}