input[type='search'] {
  color: white;
  background-color: transparent;
  border: solid 2px lightgray;
  border-radius: 5em;
  padding: .5em;
  width: 70%;
}

div.searchbox {
  margin-bottom: 0.5em;
}

select {
  padding: .5em;
  border-radius: 5em;
  background-color: transparent;
  border: solid 2px lightgray;
  width: 25%;
  margin-left: auto;
}

div.searchContainer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}